body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #336699;/*#4CAF50;*/
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    height: 90vh;
}

.left-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#div1, #div3 {
    padding: 10px;
    background-color: lightgrey;
    margin: 5px;
}

#div2 {
    flex-grow: 1;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#div4 {
    flex: 2;
    background-color: #ddd;
    padding: 10px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}

button {
    background-color: #336699; /*#4CAF50;*/
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2C5792; /*#45a049;*/
}
/* loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #336699;/*#3498db;*/
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#dataTable .tabulator-header {
    height: 0;
}
